
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Northwind.Employee.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new FruitCorrect.Northwind.CustomerGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>